<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>

<body>
    <div style="background-color: #f3f5f8 !important; padding: 1rem 2rem;">
        <h1 style="font-weight: normal;">Olá <b>#social_name#</b>!</h1>
        <h3 style="font-weight: normal;">Uma nova senha foi gerada para você no <b>#app_name#</b>!</h3>
        <p style="font-weight: normal; font-size: 16px;">Seus dados de acesso: </p>
        <p style="font-size: 16px;">
            <span><b>E-mail</b> </span><br>#email#
        </p>
        <p style="font-size: 16px;">
            <span><b>Senha</b> </span><br>#password#
        </p>
        <p style="font-weight: normal; font-size: 16px;">
            Para acessar <a type="button" href="#url_app#" target="_blank">clique aqui</a>!
        </p>
    </div>
</body>

</html>